
<div class="modal-header">
  <h3 class="text-center modal-title"> <i class="text-info fa fa-2x fa-plus"></i> <i class="text-success fa fa-2x fa-camera-retro"></i> <br> Add Photo to Album</h3>
</div>
<div class="modal-body">

  <form>
    <form class="form-inline">
      <ul class="list-unstyled" ng-repeat='photo in Photos track by $index'>
        <li>  </li>        
      </ul>
    </form>
</div>
<div class="modal-footer">
  <div class="row">
    <div class="col-xs-8">
      <p class="pull-left"> <span class="text-primary">Name</span> field is <span class="text-danger">REQUIRED.</span></p>
    </div>
    <div class="col-xs-4">
      <button class="btn btn-primary" type="submit" ng-click='createAlbum()'>Add</button>
      <button class="btn btn-warning" type="submit" ng-click='cancel()'>Cancel</button>
    </div>
  </div>
</div>
</form>

<tr class='active' ng-repeat="photo in Photos track by $index">
  <td class='text-center text-primary '>{{$index + 1}}</td>
  <td class='text-center text-warning' >{{photo.created | date }}</td>
  <td class='text-center text-success' >{{photo.url}}</td>
  <td class='text-center'> <img class='photo-thumbnails' ng-src='{{photo.url}}' alt="http://1.bp.blogspot.com/-Zr0pmj1bLnM/Uhh7kROhGYI/AAAAAAAAGkE/W51xFS75-Ec/s1600/no-thumbnail.png" /> </td>
  <td class='text-center'>
    <button ng-click='deletePhoto({photo})' class="btn btn-danger"> <i class="fa fa-trash"></i> Delete</button> <button ng-click='editPhoto({photo})' class="btn btn-info"> <i class="fa fa-edit"></i> Edit</button>
  </td>
</tr>
