<div class="container-fluid">
  <div class="template-header text-center">
    <i class="fa fa-camera-retro fa-5x fa-fw  text-success margin-bottom"></i>
    <h3 class="text-center">Photos</h3>
    <hr>
    <button ng-click='addProperty()' class="btn btn-success"> <i class="fa fa-3x fa-plus-circle"></i></button>
  </div>
  <br>
  <div class="template-header">
    <table class="table table-striped table-hover ">
      <thead>
        <tr>
          <th class='text-center'>#</th>
          <th class='text-center'>Created</th>
          <th class='text-center'>Url</th>
          <th class='text-center'>Thumbnail</th>
          <th class='text-center'>Edit | Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr class='active' ng-repeat="photo in Photos track by $index">
          <td class='text-center text-primary '>{{$index + 1}}</td>
          <td class='text-center text-warning' >{{photo.created | date }}</td>
          <td class='text-center text-success' >{{photo.url}}</td>
          <td class='text-center'> <img class='photo-thumbnails' ng-src='{{photo.url}}' alt="http://1.bp.blogspot.com/-Zr0pmj1bLnM/Uhh7kROhGYI/AAAAAAAAGkE/W51xFS75-Ec/s1600/no-thumbnail.png" /> </td>
          <td class='text-center'>
            <button ng-click='deleteProperty({photo})' class="btn btn-danger"> <i class="fa fa-trash"></i> Delete</button> <button ng-click='editProperty({photo})' class="btn btn-info"> <i class="fa fa-edit"></i> Edit</button>
          </td>
        </tr>

      </tr>
    </tbody>
  </table>
