
<div class="modal-header">

  <h3 class="text-center modal-title"> <i class="text-info fa fa-2x fa-edit"></i> <br> Edit Album</h3>
</div>
<div class="modal-body">

  <pre>{{album | json}}</pre>
  <form>
    <form class="form-inline">
      <div class="form-group">
        <label  class='text-info' for="first-name">Album Name</label>
        <input ng-model='album.name' type="text" class="form-control col-xs-4" id="first-name">
      </div>
      <ul class='list-unstyled list-inline'>
        <li ng-repeat='photo in album.photos track by $index' class='text-center'>
          <label for="photo-{{$index}}">Photo {{$index + 1}}</label><br>
          <img style='width: 100px;' id='photo-{{$index + 1}}' ng-src='{{photo.url}}'/><br><br>
          <button class="btn btn-sm btn-danger"><i class="fa fa-trash-o"></i></button>
        </li>
      </ul>
    </form>
    <!-- <ul>
    <li ng-repeat="item in items">
    <a href="#" ng-click="$event.preventDefault(); selected.item = item">{{ item }}</a>
  </li>
</ul>
Selected: <b>{{ selected.item }}</b> -->
</div>
<div class="modal-footer">
  <div class="row">
    <div class="col-xs-7">
      <p class="pull-left"> <span class="text-info">Album Name</span> is<span class="text-danger"> REQUIRED.</span></p>
    </div>
    <div class="col-xs-5">
      <button class="btn btn-info" type="submit" ng-click='submitChanges()'>Submit Changes</button>
      <button class="btn btn-warning" type="submit" ng-click='cancel()'>Cancel</button>
    </div>
  </div>
</div>
</form>
